<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="Listeners.VerifyListener"></listener>
    </listeners>
    <test verbose="2" preserve-order="true"
          name="C:/Users/Jllub/OneDrive/Desktop/Automation/MAVEN/apache-maven-3.9.6/Part2BDDFramework">
        <classes>
            <class name="Runner.Runner_TestNG"></class>
        </classes>
    </test>
</suite>